@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}       
body{
    background: rgb(74,52,154);
    background: linear-gradient(146deg, rgba(74,52,154,1) 23%, rgba(56,17,66,1) 83%);
    width: 100%;
    min-height: 100vh;
}
h1{
    font-size: 3rem;
    margin-bottom: -15px;
    color: #D4F1F4;
}
h3{
    color: #3FE1FB;
}
nav{
    position: relative;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-right: 60px;
}
nav ul li{
    width: 100%;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #3FE1FB;
    text-decoration: none;
    margin: 10px 20px;
}
a{
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover{
    color: #DB3069;
}
main{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
footer{
    height: 15vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
footer p{
    color: #D4F1F4;
}
.container{
    padding-left: 20%;
    width: 80%;
}